Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
SQLAlchemy==2.0.31
alembic==1.13.2
click==8.1.7
python-dotenv==1.0.1
Pillow==10.4.0
reportlab==4.2.2
PyPDF2==3.0.1
weasyprint==61.2
Flask-Mail==0.10.0
APScheduler==3.10.4
gunicorn==23.0.0 